/* .form-wrapper {
  width: 400px;
  height: 700px;
  background-color: #91a296;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
} */
form {
  display: flex;
  flex-direction: column;
}
.input-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
label {
  margin: 6px 0;
}
input,
textarea {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
}
textarea {
  resize: vertical;
}

.subSection {
  display: flex;
}

.subSection div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subSection input {
  width: 80%;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: auto;
  background-color: #91a296;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0 20px;
  box-sizing: border-box;
}
.acc-title,
.acc-tab {
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 200;
}
.section-card {
  width: 400px;
  height: auto;
  background-color: #91a296;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 20px 20px 20px;
  margin-bottom: 8px;
  box-sizing: border-box;
}
