h2,
p {
  margin: 0;
  line-height: 1.8;
}
.a4 {
  position: relative;
  width: 210mm;
  height: 297mm;
  color: black;
  background-color: white;

  box-sizing: border-box;
}

@media print {
  @page {
    size: a4 portrait;
  }
  .a4 {
    width: 210mm;
    height: 297mm;
  }
}
.padding-wrap {
  /*Setting padding on .a4 causes weird overflow when generated as PDF file. So keeping them separately here and in .view-note*/
  padding: 30px;
}

.basicInfo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 170px;
}
.view-title {
  font-size: 2rem;
}
.view-subtitle {
  font-size: 1.2rem;
}
.info-box {
  width: 400px;
  display: flex;
  justify-content: space-around;
}
.info-box p {
  display: flex;
  align-items: center;
}
.detailInfo {
  display: grid;
  grid-template-columns: 30% 70%;
}
.view-ingredients {
  /* border: 1px solid gray; */
}
.ing-container {
  display: flex;
  justify-content: space-around;
}
.view-instruction,
.view-note {
  text-align: left;
  /* border: 1px solid gray; */
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.view-instruction {
  padding: 0 20px;
}

.view-note {
  height: auto;
  min-height: 200px;
  box-sizing: border-box;
  position: absolute;
  /*Code below fixed PDF rendering bugs (overflowing)*/
  bottom: 10px;
  padding: 0 50px 30px 50px;
  width: inherit;
}

.pdfBtn {
  float: right;
  width: 76px;
  height: 38px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--second-color);
  color: var(--point-color);
  border: 1px solid var(--point-color);
  border-radius: 20px;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.pdfBtn:hover {
  background-color: var(--third-color);
  color: var(--primary-color);
}
