h2,
p {
  margin: 0;
  line-height: 1.8;
}
.a4 {
  width: 500px;
  height: 740px;
  color: black;
  /* border: 1px solid grey; */
  aspect-ratio: 21 / 29.7;
  padding: 0 20px;
}
.basicInfo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 170px;
}
.view-title {
  font-size: 2rem;
}
.view-subtitle {
  font-size: 1.2rem;
}
.info-box {
  width: 400px;
  display: flex;
  justify-content: space-around;
}
.info-box p {
  display: flex;
  align-items: center;
}
.detailInfo {
  display: grid;
  grid-template-columns: 30% 70%;
}
.view-ingredients {
  /* border: 1px solid gray; */
}
.ing-container {
  display: flex;
  justify-content: space-around;
}
.view-instruction,
.view-note {
  text-align: left;
  /* border: 1px solid gray; */
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.view-instruction {
  padding: 0 20px;
}

.view-note {
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  padding: 0 40px 40px 40px;
  height: auto;
  min-height: 200px;
  width: 100%;
}

.pdfBtn {
  float: right;
  width: 76px;
  height: 38px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--second-color);
  color: var(--point-color);
  border: 1px solid var(--point-color);
  border-radius: 20px;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.pdfBtn:hover {
  background-color: var(--third-color);
  color: var(--primary-color);
}
